{% extends 'mainApp/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
                            <table class="table table-bordered table-striped table-active table-hover">
                              <thead>
                                <tr>
                                  <th class="text-center" scope="col">Дата</th>
                                  <th class="text-center" scope="col">Команды</th>
                                  <th class="text-center" scope="col">Счет</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for item in matches_list  %}

                                <tr>
                                  <th class="text-center" scope="row">26.06.2018</th>
                                    <td class="text-center"><a href="{% url 'match_detail' pk=item.pk slug=item.slug %}">{{ item.title }}</a></td>
                                  <td class="text-center">{{ item.score }}</td>
                                </tr>

                              {% endfor %}
                              </tbody>
                            </table>
        {% if matches_list.has_other_pages %}
        <ul class="pagination">
                {% if matches_list.has_previous %}
                    <li><a href="?page={{ matches_list.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&laquo;</a></li>
                {% endif %}
            {% for i in matches_list.paginator.page_range %}
                {% if matches_list.number == i %}
                    <li class="active"><a href="#">{{ i }}</a></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
                {% if matches_list.has_next %}
                    <li><a href="?page={{ matches_list.paginator.num_pages }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                  Basic panel
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}